@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;

@model IPagedList<UserAnswers>

@{
    ViewData["Title"] = "User Achievementes";
}

<div class="container justify-content-center col-md-8">
    <div class="row mb-2">
        <h2 class="text-primary text-center">User Achievements</h2>
    </div>

    <table class="table table-bordered table-striped mt-2" width="100%" id="usersAchievementsTable">
        <thead>
            <tr>
                <th class="col-6 text-center">
                    @*<h4>Quote</h4>*@
                    <h4>
                        <a asp-action="UserAchievements"
                           asp-route-userId="@Model[0].UserId"
                           asp-route-sortOrder="@ViewData["QuoteSortParm"]">
                            Quote
                        </a>
                    </h4>
                </th>
                <th class="col-1 text-center">
                    <h4>Correct Answer</h4>
                </th>
                <th class="col-1 text-center">
                    <h4>Answer</h4>
                </th>
                <th class="col-1">
                    @*<h4>Is Correct</h4>*@
                    <h4>
                        <a asp-action="UserAchievements" 
                            asp-route-userId="@Model[0].UserId" 
                            asp-route-sortOrder="@ViewData["IsCorrectSortParm"]">
                            Is Correct
                        </a>
                    </h4>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (UserAnswers userAnswer in Model)
            {
                <tr>
                    <td class="align-middle">
                        @Html.DisplayFor(a => userAnswer.Answer.Quote.Text)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(a => userAnswer.Answer.Question.CorrectAuthor.Name)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(a => userAnswer.Answer.AnswerText)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(a => userAnswer.Answer.IsCorrect)
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <!-- Pagination -->
    <nav>
        @Html.PagedListPager(Model, page => Url.Action("UserAchievements", new { userId = Model[0].UserId, page = page }), new PagedListRenderOptions()
        {
        ActiveLiElementClass = "active",
        PageClasses = new[]{ "page-link"},
        LiElementClasses=new[] { "page-item" },
        UlElementClasses = new[] { "pagination","justify-content-center", "mt-3" },
        LinkToNextPageFormat = "Next",
        LinkToPreviousPageFormat = "Previous",
        MaximumPageNumbersToDisplay = 5,
        DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
        DisplayLinkToNextPage = PagedListDisplayMode.Always
        })
    </nav>
</div>

@section Scripts{
    <script src="~/js/users.js"></script>
}

